@model Infoline.WorkOfTimeManagement.BusinessData.VWHDM_Question
@{
    ViewBag.Title = "Kayıt Ekleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Insert", "VWHDM_Question", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="fullName">İsim</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.fullName, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen İsminizi Giriniz.."},
            }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="email">Email</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.email, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Email Giriniz.."},
            }).Validate(Validations.Required)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="phone">Telefon</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.phone, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Telefon Giriniz.."},
            }).Validate(Validations.Required)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="content">Açıklama</label>
        </div>
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.content, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Açıklama Giriniz.."},
            }).Validate(Validations.Required)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="companyName">Şirket Adı</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.companyName, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Şirket Adı Giriniz.."},
            }).Validate(Validations.Required)
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}
