@model Dictionary<string, string>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dil Tanımlamaları";
    var random = new Random().Next(0, 15000);
}

<style type="text/css">
    .panel > .panel-heading {
        padding: 20px;
        color: #7ebf52;
    }

    table thead tr th {
        padding: 15px !important;
        color: #808080;
    }
</style>

<script src="~/Content/Custom/js/language.js?v=@random"></script>

<script type="text/javascript">

    var languageGlobal = language;

    $(document)

        .on("click", "#getText", function (e) {

            e.preventDefault();

            var page = $("#Page").val();
            var params = $("#Params").val();
            if (page == "") {
                alert("Öncelikle sayfa seçmelisiniz.");
                return false;
            }

            $("#Language tbody tr:not(:first-child)").remove();

            var selected = $("#Page").find('option[value="' + page + '"]');

            $.ajax({
                url: selected.attr("data-url") + (params != "" ? params : ""),
                type: "GET",
                success: function (resp) {

                    var textArray = $.Enumerable.From($(resp).find("*").not("script").not("style").contents())
                                                .Where("($.nodeType==3 && $.nodeValue.trim()!='' && $.nodeValue.trim().length>3)")
                                                .Select("$.nodeValue.trim()")
                                                .ToArray();

                    $(resp).find("*").each(function (i, e) {

                        if ($(this).attr("placeholder")) {
                            textArray.push($(this).attr("placeholder").trim());
                        }

                        if ($(this).attr("title")) {
                            textArray.push($(this).attr("title").trim());
                        }

                        $.each($(this).data(), function (i, e) {

                            if (i && typeof (e) == "string" && i == "original-title") {
                                textArray.push(e.trim());
                            }
                        });
                    });

                    $.ajax({
                        url: "/language/" + page + "?" + Math.round(99999999999),
                        success: function (resp) {
                            eval(resp);
                        },
                        error: function () {
                            language = null;
                            console.clear();
                        },
                        complete: function () {

                            $.Enumerable.From(language).ToArray().forEach(function (elem) {
                                textArray.push(elem.Key);
                            })


                            $.each($.Enumerable.From(textArray).GroupBy().Select("$.Key()").ToArray(), function (i, props) {
                                var clone = $("#Language tbody tr:first-child").clone(true);
                                clone.removeClass("hide");
                                clone.find("td:first-child input").val(e);
                                clone.find("input").each(function (i, e) {
                                    if (i == 0) {
                                        $(this).val(props);
                                    }

                                    if (languageGlobal && languageGlobal[props] && languageGlobal[props][$(this).attr("name")]) {
                                        $(this).val(languageGlobal[props][$(this).attr("name")]);
                                    }

                                });
                                clone.find("button").removeClass("btn-success").addClass("btn-danger");
                                clone.find("button").find("i").removeClass("fa-plus").addClass("fa-minus");
                                clone.find("button").attr("id", "remove")
                                $("#Language tbody tr:first-child").after(clone)
                            });

                        }
                    });

                },
                error: function (resp) {
                    console.clear();
                    alert("Sayfaya erişilirken sıkıntı oluşuyor sayfa ek parametre istiyor olabilir.");
                }
            });

        })
        .on("click", "#getTextNextPage", function (e) {
            e.preventDefault();
            var currentval = $("#Page").val();
            var index = $('#Page option[value="' + currentval + '"]').index() + 2;
            $("#Page").val($("#Page option:nth-child("+index+")").attr("value")).trigger("change");
            $("#getText").trigger("click");
        })
        .on("change", "#Page", function (e) {
            e.preventDefault();
        })
        .on("click", "#add", function () {
            var tr = $(this).parents("tr");

            if (tr.find('[name="TR"]').val() == "") {
                alert("Kelimenin türçesini girmeden kaydedemessiniz.");
                return false;
            }

            var clone = tr.clone(true);
            tr.find("input").val("");
            clone.find("button").removeClass("btn-primary").addClass("btn-danger").attr("id", "remove").html('<i class="fa fa-minus"></i>');
            tr.after(clone);
            builder();
        })
        .on("click", "#remove", function () {
            $(this).parents("tr").remove();
            builder();
        })
        .on("click", "#Save", function () {
            builder();
        })
    ;

    function builder() {

        var fileName = $("#Page").val();
        var languagePage = {};

        $("#Language tbody tr").each(function (trindex, trelem) {
            var tr = $(this);
            var indis = "";
            tr.find("input").each(function (i, e) {

                if (i == 0) {

                    indis = $(this).val();
                    if (indis == "") return;

                } else {

                    if ($(this).val() == "" || indis == "") return;

                    if (!languagePage.hasOwnProperty(indis)) {
                        languagePage[indis] = {}
                    }

                    if (!languageGlobal.hasOwnProperty(indis)) {
                        languageGlobal[indis] = {}
                    }

                    languagePage[indis][$(this).attr("name")] = $(this).val();
                    languageGlobal[indis][$(this).attr("name")] = $(this).val();
                }
            });

        });

        $.ajax({
            url: '@Url.Action("Save", "Home", new { area = "" })',
            data: { json: "var language = " + JSON.stringify(languagePage), fileName: fileName },
            type: "post",
            success: function (resp) {
                console.log("LanguagPage Kaydedildi");
            },
            error: function () {
                console.log("Bir sorun oluştu");
                alert("Bir sorun oluştu");
            }
        });

        $.ajax({
            url: '@Url.Action("Save", "Home", new { area = "" })',
            data: { json: "var language = " + JSON.stringify(languageGlobal), fileName: "language.js" },
            type: "post",
            success: function (resp) {
                alert("Kayıt işlemi başarılı");
            },
            error: function () {
                console.log("Bir sorun oluştu");
            }
        });

    }

</script>


<div class="language-content">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group">
                <label class="control-label">Dil girişi yapılacak sayfa'yı seç</label>
                <div class="clearfix">
                    <select id="Page" name="Page" style="width:100%;height:40px;float:left;">
                        <option value="">Dil girişi yapılacak sayfayı Seçiniz..</option>

                        @{
                            var i = 0;
                            foreach (var item in Model)
                            {
                                <option value="@item.Key" data-url="@item.Value">( @i ) @item.Value</option>
                                i = i + 1;
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Varsa ek parametreleri Giriniz.. ( ?id=e4e2727d-5dad-461e-bdb9-2aee32ab9fa7&state=1)</label>
                <input type="text" id="Params" name="Params" class="form-control" placeholder="?id=e4e2727d-5dad-461e-bdb9-2aee32ab9fa7&state=1" />
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-info" id="getText">Seçili Sayfayı Getir</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-info" id="getTextNextPage">Sonraki Sayfayı Getir</button>
                    </div>
                </div>
            </div>

            <table class="table table-condensed table-bordered" id="Language">
                <thead>
                    <tr>
                        <th>Türkçe (TR)</th>
                        <th>İngilizce (ENG)</th>
                        <th>Rusça (RU)</th>
                        <th>Azerice (AZ)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="TR" class="form-control input-md" /></td>
                        <td><input type="text" name="ENG" class="form-control input-md" /></td>
                        <td><input type="text" name="RU" class="form-control input-md" /></td>
                        <td><input type="text" name="AZ" class="form-control input-md" /></td>
                        <td><button class="btn btn-md btn-success btn-block" id="add"><i class="fa fa-plus"></i></button></td>
                    </tr>
                </tbody>
            </table>


        </div>
        <div class="panel-footer clearfix">
            <button class="btn btn-md btn-danger pull-left"><i class="fa fa-chevron-left" style="margin-right:5px"></i>Geri</button>
            <button class="btn btn-md btn-success pull-right" id="Save"><i class="fa icon-check-1"></i>Kaydet</button>
        </div>
    </div>

</div>
