@model Infoline.WorkOfTimeManagement.BusinessData.VWSH_PagesRolePageReport
@{
    ViewBag.Title = "Sayfa Yetki Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("yellow").Text("Toplam Sayfa Yetki Sayısı").Value(Model.ToplamSayi +" Adet").IconClass("fa fa-list-ol")
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("navy").Text("Aktif Sayfa Yetki Sayısı").Value(Model.AktifSayisi +" Adet").IconClass("fa fa-file-o")
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("blue").Text("Pasif Sayfa Sayısı").Value(Model.PasifSayisi +" Adet").IconClass("fa fa-file")
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("red").Text("Son Eklenen Kayıt Tarihi").Value(Model.SonKayitTarihi.ToShortDateString()).IconClass("fa fa-calendar")
    </div>
</div>

@(

    Html.Akilli().Grid <Infoline.WorkOfTimeManagement.BusinessData.VWSH_PagesRole > ("VWSH_PagesRole")
     .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWSH_PagesRole", new { area = "SH" })).PageSize(25))
     .Columns(a =>
     {
         a.Bound(q => q.id).GridSelector(GridSelectorType.Checkbox);
         a.Bound(y => y.created).Title("Kayıt Tarihi").Format(Extensions.DateFormatShort(true)).Width(160);
         a.Bound(y => y.Role_Title).Title("Yetki İsmi");
         a.Bound(y => y.Action_Title).Title("Sayfa Linki").Width(180);
         a.Bound(y => y.status_Title).Title("Durumu").Width(140);
     })
     .ToolBar(x =>
     {
         x.Custom().Text("Ekle").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" } }).Url(Url.Action("Insert", "VWSH_PagesRole", new { area = "SH" }));
         x.Custom().Text("Düzenle").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWSH_PagesRole", new { area = "SH" }));
         x.Custom().Text("Detay").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWSH_PagesRole", new { area = "SH" }));
         x.Custom().Text("Sil").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" } }).Url(Url.Action("Delete", "VWSH_PagesRole", new { area = "SH" }));
     })
)