@using BotDetect;
@using BotDetect.Web.Mvc;
@model Infoline.WorkOfTimeManagement.BusinessData.VWTEN_DemonstrationRequest
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <style type="text/css" data-selector="modalContainer">
        input {
            font-size: 11px;
        }

        .input-group-addon {
            border-radius: 1px;
            padding: 6px 12px;
            background-color: #ffffff !important;
        }

        .modal-header {
            border-bottom: none !important;
        }
    </style>
}

<script src='https://www.google.com/recaptcha/api.js' data-selector="modalContainer"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

@section Javascript{
    <script type="text/javascript" data-selector="modalContainer">
        $(document)
        $('.bootstrap-dialog-title').hide()

    </script>
}


@using (Html.BeginForm("Insert", "VWTEN_DemonstrationRequest", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "id", "InsertDemo" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    @Html.Hidden("returnUrl", ViewData["returnUrl"])

    <style type="text/css">
        form {
            padding: 0px !important;
        }

        .middle-box {
            padding-top: 0px !important;
        }

        .bootstrap-dialog-title {
            font-size: 15px;
            font-weight: bold;
        }

        .modal-content {
            width: 60%;
            margin-left: 20%;
            background-color: white !important;
        }

        .modal-header .close {
            color: #d95450 !important;
            margin-top: 15px;
            position: absolute;
            z-index: 9999;
        }

        .modal-body {
            padding: 34px;
        }
    </style>

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <span style="font-size: 23px;font-weight: bold;color: #e37284;">Ücretsiz Kullanmaya Başlayın</span>
            <p style="margin-top: 44px;">Hiçbir ücret ödemeden sistemi kullanmaya başlayın...</p>
            <div class="form-group">
                <input tabindex="1" type="text" name="Name" class="form-control" placeholder="İsim" required="" maxlength="100">
            </div>
            <div class="form-group">
                <input tabindex="2" type="text" name="Surname" class="form-control" placeholder="Soyad" required="" maxlength="100">
            </div>
            <div class="form-group">
                <input tabindex="3" type="text" name="CompanyName" class="form-control" placeholder="Şirket Adı" required="" maxlength="200">
            </div>
            <div class="form-group">
                <input tabindex="4" type="email" name="EMail" class="form-control" placeholder="Şirket E-postası" required="" maxlength="100">
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Phone, new Dictionary<string, object>()
                           {
                               {"class", "form-control"},
                               {"placeholder", "Lütfen telefon giriniz.."},
                                {"tabindex" ,"5"}
                           }).Validate(Validations.TelefonNo(true))
            </div>

            <div class="form-group">
                <label style="text-align:left;">
                    <input tabindex="6" type="checkbox" tid="agreement" id="agreement" name="agreement" value="1" required="">
                    <a style="color:#676a6c!important" href="@Url.Action("UserAgreement","Home",new {area=""})" target="_blank" rel="nofollow">
                        <u>Kullanıcı Sözleşmesi</u>
                    </a>'ni ve
                    <a style="color:#676a6c!important" href="@Url.Action("ProtectionOfPersonel","Home",new {area=""})" target="_blank" rel="nofollow">
                        <u>Kişisel Verilerin Korunması ve İşlenmesi Politikası</u>
                    </a>'nı okudum ve kabul ediyorum.
                </label>
            </div>
            <div class="form-group" data-selector="captcha">
                <label class="control-label hide">Captcha</label>
                @if (Request.UrlReferrer.AbsoluteUri.IndexOf("localhost") > -1 == true)
                {
                    <div class="g-recaptcha" id="recap" data-sitekey="6LfTvMYUAAAAAOPNXLBxr0xO0hTfmv1lPNU9dk4y"></div>
                }
                else
                {
                    <div class="g-recaptcha" id="recap" data-sitekey="6LcivcYUAAAAAFdCaSEhNVl9MfJo32zfw9H7QV6F"></div>
                }
            </div>
            <button type="submit" class="btn btn-danger block full-width m-b pull-right">Kaydı Tamamla</button>
        </div>
    </div>
}
